* {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    border: 10px solid black;
    width: 450px;
    height: 450px;
    position: relative;
}

.inner {
    border: 1px solid grey;
    width: 50%;
    height: 50%;
    position: relative;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:hover .inner {
    /* animation: move-circle 1s ease-in-out forwards; */
    animation-name: move-circle;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes move-circle {
    0% {
        transform: translateX(0%) translateY(0%);
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(100%) translateY(100%);
    }
    75% {
        transform: translateX(0%) translateY(100%);
    }
    100% {
        transform: translateX(0%) translateY(0%);
    }
}
